<div class="jumbotron"> <h1>To Do</h1>
</div>

<p class="lead">Here's Your To Do List</p>


<div>
<ul>
<% @tasks.each() do |task| %>
  <li><%= task.description() %></li>
  <% end %>
</ul>
</div>


<div class="form">
<form action="/tasks" method="post">
  <div class="form-group">
    <label for="description">Task Description</label>
    <input type="text" id="description" name="description">
  </div>

  <button type="submit" class="btn btn-success">Get On It!</button>

</form>
<div class="form">
